<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<<<<<<< HEAD

<table data-toggle="table" data-url="data1.json" data-cache="false" data-height="299" data-sort-name="name" data-sort-order="desc" data-show-columns="true">
    <thead>
        <tr>
            <th data-field="name" data-sortable="true" data-switchable="false">Name of Source</th>
            <th data-field="title">Title</th>
            <th data-field="org" data-sortable="true">Organization</th>
	    <th data-field="workPhone">Work Phone</th>
    	    <th data-field="cellPhone">Cell Phone</th>
	    <th data-field="otherPhone" data-visible="false">Other Phone</th>
            <th data-field="workEm">Work Email</th>
	    <th data-field="personalEm" data-visible="false">Personal Email</th>
	    <th data-field="notes" data-visible="false">Notes/</th>
	</tr>
    </thead>
</table>
=======
<p>The database responded with {{response}}</p>
>>>>>>> 9c89c6174712c73cef5393e2b3f5c66b296c52e3
