<!DOCTYPE html>
<html>

<head>
    <title>Daily Bruin Sources</title>
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
    <!--SweetAlert-->
    <link rel="stylesheet" type="text/css" href="/stylesheets/sweetalert.css">
    <!--The following links and scripts load DataTables, jQuery 2.0 and Bootstrap simultaneously-->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/r/bs-3.3.5/jq-2.1.4,dt-1.10.9,b-1.0.3,r-1.0.7,se-1.0.1/datatables.min.css" />
    <script type="text/javascript" src="https://cdn.datatables.net/r/bs-3.3.5/jq-2.1.4,dt-1.10.9,b-1.0.3,r-1.0.7,se-1.0.1/datatables.min.js"></script>
    <script src="/javascripts/sweetalert.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.4/handlebars.min.js"></script>
</head>

<body>
    {{{body}}}
    <footer>
        <div>
            <span class="foss-attr">
        <a href="https://www.datatables.net/license/mit">DataTables MIT License</a>
        </span>
        </div>
    </footer>
</body>

</html>