<!DOCTYPE html>
<html>

<head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <!--The following links and scripts load DataTables, jQuery 2.0 and Bootstrap simultaneously-->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/r/bs-3.3.5/jq-2.1.4,dt-1.10.9,b-1.0.3,r-1.0.7/datatables.min.css" />
    <script type="text/javascript" src="https://cdn.datatables.net/r/bs-3.3.5/jq-2.1.4,dt-1.10.9,b-1.0.3,r-1.0.7/datatables.min.js"></script>

</head>

<body>
    {{{body}}}
    <!--Table to JSON-->
    <script src="/javascripts/jquery.tabletojson.min.js"></script>
    <!--custom page JS-->
    <script src="/javascripts/page.js"></script>
</body>

</html>