<div class="container">
    <div class="row">
    	<div class="col-md-12 page">
    	<figure class="login">
    		<a href="/auth/google"><img class="logo" src="http://i.imgur.com/ZUtcxZU.gif" alt="Daily Bruin Sources"></a>
    		    		<figcaption>
	    		<h1>Sources</h1>
	    	</figcaption>
	    	<br>
	    	<figcaption>
	    		<!--<a class="link" href="/auth/google">Sign in with a media.ucla.edu account</a>-->
	    		<a href="/auth/google" class="link button">Sign in with Google</a>
	    		<br><br>
	    		<p class="warning">* Must continue with a media.ucla.edu account.</p>
	    	</figcaption>
	    </figure>
		</div>
    </div>
</div>

