.foss-attr {
    margin: 0 auto;
    display: table;
    position: absolute;
    bottom: 0;
    width:100%;
    text-align:center;
    font-family: "Century", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

@media (min-width: 768px) {
    .modal-editor {
        width: 90%;
        margin: 0 auto;
    }
}

.page {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
    text-align: center;
    font-family: "Century", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.logo {
    height: 150px;
    width: 150px;
}

.sources {
    display: inline;
    position: relative;
    top: 20px;
    left: 10px;
    color: #777777;
    font-size: 60px;
    margin-top: 40px;
    border-radius:100px;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.4);
}

.description {
    position: relative;
    top: -40px;
    color: #444444;
}

.button {
    -moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
    -webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
    box-shadow:inset 0px 1px 0px 0px #ffffff;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf));
    background:-moz-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
    background:-webkit-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
    background:-o-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
    background:-ms-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
    background:linear-gradient(to bottom, #ededed 5%, #dfdfdf 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf',GradientType=0);
    background-color:#ededed;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    border:1px solid #dcdcdc;
    display:inline-block;
    cursor:pointer;
    color:#777777;
    font-family: "Century", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size:15px;
    padding:6px 24px;
    text-decoration:none;
    text-shadow:0px 1px 0px #ffffff;
}
.button:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed));
    background:-moz-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
    background:-webkit-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
    background:-o-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
    background:-ms-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
    background:linear-gradient(to bottom, #dfdfdf 5%, #ededed 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed',GradientType=0);
    background-color:#dfdfdf;
}
.button:active {
    position:relative;
    top:1px;
}

.warning {
    color: #777777;
    font-size: 10px;
}

figure.login:before,
figure.login img:before {
    content: '';
    -webkit-transition: opacity 0.35s;
    transition: opacity 0.35s;
}

figure.login:before {
    box-shadow: 0 3px 30px rgba(0,0,0,0.8);
    border-radius:100px;
    opacity: 0;
}

figure.login img {
    opacity: 1;
    -webkit-transition: -webkit-transform 0.35s;
    transition: transform 0.35s;
    -webkit-transform: perspective(1000px) translate3d(0,0,0);
    transform: perspective(1000px) translate3d(0,0,0);
    box-shadow: 0 1px 10px rgba(0,0,0,0.5);
    border-radius:100px;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

figure.login img:hover {
    -webkit-transform: perspective(1000px) translate3d(0,0,21px);
    transform: perspective(1000px) translate3d(0,0,21px);
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
}
